@model IEnumerable<MVC.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

@section featured{
    We are showing the latest @Model.Count() review@(Model.Count() > 1 ? "s." : ".")
}

<h2>The Latest Reviews</h2>

@VirtualPath

@foreach (var review in Model)
{
    @Html.Partial("_Review", review)
    <span class="right">
        @Html.ActionLink("Edit", "Edit", new { id = review.Id })
    </span>}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@